input.masquerade-float-block-disable-safari-autocomplete::-webkit-contacts-auto-fill-button,
input.masquerade-float-block-disable-safari-autocomplete::-webkit-credentials-auto-fill-button,
input.masquerade-float-block-disable-safari-autocomplete::-webkit-textfield-decoration-containe
{
  visibility: hidden;
  position: absolute;
  top: -50px;
}
